<div>
  <mat-toolbar color="primary">
    <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>menu</mat-icon>
  </button>
    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item (click)="promote()"><a class="docs-button mat-button">Раздать</a></button>
      <button mat-menu-item>Option 2</button>
    </mat-menu>

    <a aria-label="Angular Material" class="docs-button mat-button" mat-button="" routerlink="/" tabindex="0" aria-disabled="false" href="/">
      <h2>{{title}}</h2>
    </a>

    <div class="top-spacer"></div>

    <app-login></app-login>
  </mat-toolbar>

  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>



